@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

@media (max-width: 768px) {
  h1, h2 {
    font-size: 1.8em;
  }

  .services-card,
  .testimonial-card {
    width: 90%;
    margin: 10px auto;
  }

  nav a {
    display: block;
    margin: 10px 0;
  }
}

@media (max-width: 480px) {
  h1, h2 {
    font-size: 1.5em;
  }

  button {
    padding: 10px;
    font-size: 0.9em;
  }
}


html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

* {
  box-sizing: border-box;
}
